

.search-box {
    background-color: #b5bd00;
    padding: 10px;
}

div.filter > label {
    color: #fff;
}

button#ct-search-button {
    background: url(/SiteElements/ChannelShift/content/images/header-menu/magglass.svg) no-repeat;
    background-size: 20px 34px;
    background-position-x: 4px;
    background-position-y: 0px;
    background-color: #fff;
    width: 30px;
    border: solid 1px #fff;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #041c2c !important;
    font-weight: bold;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block;
    color: #041c2c !important;
    font-weight: bold;
}

.input-group .form-control {
    color: #041c2c !important;
}

.open > .dropdown-toggle.btn-default:hover {
    color: #041c2c !important;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}


div.filter > div:nth-child(2) {
    max-width: 175px !important;
}

div.filter > div:nth-child(3) {
    max-width: 200px !important;
}


@media screen and (min-width:0\0) {
    /* IE9 and IE10 rule sets go here */
    button#search-button {
        height: 31px;
        background-position-y: -2px;
    }
}

.biginput {
    border: solid 1px #fff;
}

.form-control {
    height: auto;
}

input.form-control, input.form-control:focus {
    border: 1px solid #fff;
}

span.error-message {
    color: red;
    font-weight: bold;
    font-size: 14px;
}


/*pagingation */
ul.pagination > li > a.page-link,
ul.pagination > li > a.left-link,
ul.pagination > li > a.right-link {
    text-decoration: none;
    color: #041c2c;
    font-weight: bold;
    display: inline;
}

ul.pagination > li > a.active {
    background-color: #000;
    color: #fff;
}

ul li.dots-left,
ul li.dots-right {
    position: relative;
    float: left;
    margin: 5px 10px 0px 10px;
}

.search {
    float: left;
    width: 35%;
}

.reset {
    width: 100px;
    float: left;
}

.filter {
    float: right;
    width: 50%;
}

div.autocomplete-suggestion {
    background-color: gray;
}

table.healthy-choices-table tr th {
    min-width: 125px;
    width: 125px;
}

img.image-response {
    width: 90%;
    height: 325px;
    padding-right: 15px;
}

@media screen and (max-width: 992px) {

    .search {
        width: 30%;
    }

    .reset {
        width: 70px;
    }

    .filter {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {

    .search {
        width: 38%;
    }

    .reset {
        width: 65px;
    }

    .filter {
        width: 45%;
    }
}

@media screen and (max-width: 662px) {

    .search {
        width: 85%;
    }


    .filter {
        width: 100%;
        margin-top: 20px;
    }

        .filter > label {
            width: 60px;
        }
}


@media screen and (max-width: 480px) {
    h1, h2, h3, h4 h5 {
        margin: 8px;
    }

    col-xs-10 {
        width: 75%;
    }
}
