
footer {
    padding-top:40px;
}

.footer-title {
    font: normal normal bold 19px/27px Calibri;
    letter-spacing: 0px;
    color: #FFDD00;
}

ul.footer-menu > li {
    margin-bottom:7px;
}

.footer-text {
    font: normal normal normal 19px/27px Calibri;
    letter-spacing: 0px;
    color: #FFFFFF;
}

ul.footer-menu > li > a {
    text-decoration: underline;
    font: normal normal normal 19px/27px Calibri;
    letter-spacing: 0px;
    color: #FFFFFF;
}

img.footer-logo {
    width: 260px;
    height: 78px;
    margin-top: 19px;
}

@media (max-width: 1024px) and (min-width: 300px) {

    img.footer-logo {
        width: 245px;
        height: 50px;
        margin-top: 15px;
    }
}
