div.sys_cms-form-page {
    border: solid 0px red;
    min-height:600px;
}

ul.sys_cms-form-body{
    list-style-type:none;
    padding-left:0px;
}

li.sys_cms-form-item {
   min-height:90px;
}

div.sys_legend {
    display:none;
}

div.sys_fieldcontent {
    border: solid 0px green;
}

div.sys_fieldcontent > div.sys_namesubelement > label,
li.sys_cms-form-item > label{
    letter-spacing: var(--standard-character-spacing) !important;
    color: #000000 !important;
    text-align: left;
    font: var(--standard-calibri-text-font) !important;
    opacity: var(--default-opacity) !important;
}

div.sys_fieldcontent > div.sys_namesubelement {
    width: 45%;
    float: left;
    display: inline;
    margin-right: 30px
}

div.sys_fieldcontent > div.sys_namesubelement > input {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #041C2C;
    border-radius: 4px;
    opacity: 1;
    height:48px !important;
}

 div.sys_fieldcontent > input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #041C2C;
    border-radius: 4px;
    opacity: 1;
    height: 48px !important;
}

div.sys_fieldcontent > select {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #041C2C;
    border-radius: 4px;
    opacity: 1;
    height: 48px;
    padding-left:10px;
}

div.sys_fieldcontent > input,
div.sys_fieldcontent > select {
    width: 45% !important;
        
}

div.sys_fieldcontent > textarea {
    width: 93% !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #041C2C;
    border-radius: 4px;
    opacity: 1;

}

li.sys_cms-form-item > button {
    margin-top: 30px;
    background-color: #871262;
    min-height: 47px;
    min-width: 172px;
    color: #FFDD00;
    font: normal normal bold 19px/27px Calibri;
    padding: 14px 20px 14px 20px;
}