/* homepage banner */
div#homepage-banner {
    position: relative;
    min-height: 352px;
    overflow: hidden;
    padding-bottom:60px;
    width:100%;
}

img.banner-desktop {
    width: 100%;
}


div#image-box {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
}

div#message-box {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
}

div#inner-message-box {
    display:table;
    height: 100%;
    position: relative;
    max-width: 1160px;
    margin: auto;
}

div.banner-container-text {
    width: 100%;
    height: 100%;
}

div#banner-heading {
    position: absolute;
    width: 509px;
    padding: 16px;
    opacity: 0.8;
    z-index: 999;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

div#banner-heading > h2 {
    text-align: center;
    font: normal normal 900 36px/44px Montserrat;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0px;
    background: #00A2C7 0% 0% no-repeat padding-box;
    position:relative;
    top:-27px;
    padding:30px;
    display:none;
}
