div.content-box-with-image {

  height:100%;
  padding-bottom:30px;
}

div.content-box-with-image h1 {
    margin-top:0px;
    text-align: left;
    font: normal normal 900 36px/30px Montserrat;
    letter-spacing: 0.72px;
    color: #00A2C7;
    opacity: 1;
}

div.content-box-with-image h2 {
    margin-top: 15px;
    text-align: left;
    font: normal normal bold 24px/23px Montserrat;
    letter-spacing: -0.48px;
    color: #1BA2C7;
    opacity: 1;
}

div.content-box-with-image p {
    text-align: left;
    font: normal normal normal 19px/23px Calibri;
    letter-spacing: 0.38px;
    color: #000000;
    opacity: 1;
}

div.content-box-with-image a {
    display: inline-block;
    background-color: var(--main-blue-color);
    min-height: 47px;
    min-width: 172px;
    color: #fff;;
    font: normal normal bold 19px/27px Calibri;
    padding: 14px 20px 14px 20px;

}

div.content-box-with-image ul {
    list-style-type: disc;
    margin-bottom: 30px
}

div.content-box-with-image ul > li > a {
    background-color: transparent;
    text-decoration: underline;
    font: normal normal normal 19px/23px Calibri;
    letter-spacing: 0px;
    color: #00A2C7;
    padding: 7px 0px 0px 0px;
    min-height:unset;
    height:unset;
  
}

.img-container {
    display:flex;
    justify-content:center;
    align-items:center;
}

.img-container > a {
    display:inline-block;
    border:solid 1px red;
}

div.content-box-with-image a:hover {
    text-decoration: none;
}

div.content-box-with-image img {
    
    max-height:410px;
    max-width:575px;
}