div.menu-row > .col-md-2 > h2 {
    margin-top:0px;
}

div.menu-row > .col-md-2 > ul {
    list-style-type:none;
}

div.menu-row > .col-md-2 > ul > li {
    text-align: left;
    font: var(--standard-calibri-text-font);
    letter-spacing: var(--standard-character-spacing);
    color: #000000;
    opacity: var(--default-opacity);
    margin-top:2px;
}

div.menu-row > div.menu-box {
    border-color: var(--main-green-color);
    width: 39%;
    border-style: solid;
    border-width: 3px;
}

div.menu-row > div.col-md-2 {
    width:18%;
}

div.menu-row > div.menu-box:nth-child(2) {
  
    margin-right: 1%;
}

div.menu-row > div.menu-box:nth-child(3) {

    margin-left:1%;
}

div.menu-row > div.menu-box > .image-box {
    padding-bottom: 15px;
    display:flex;
}

div.menu-row > div.menu-box > .image-box > img {
    max-height: 235px;
    height: 235px;
}

div.menu-box > h3 {
    color: #000;
}
