.grid-flex {
    display: flex;
    justify-content: space-between;
    height:100%;
}

.grid-flex > div.promotions-box {
    border: 24px solid #1BA2C7 !important;
    flex: 0 0 31%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: #1BA2C7;
    margin-left: 1.75%;
    margin-right: 1.75%;
    border-radius: 4px;
}

 .grid-flex > div.promotions-box:first-child {
     margin-left:0%;
 }

.grid-flex > div.promotions-box:last-child {
    margin-right: 0%;
}

.grid-flex > div.promotions-box > div.promotions-box-inner {
    height: 100%;
}

.grid-flex .img-title {
    
    font: normal normal bold 19px/27px Calibri;
    letter-spacing: 0.38px;
    color: #FFFFFF;
    opacity: 1;
}

div.img-title-paragraph > p{
    text-align:justify;
    color: #fff;
    display:block;
}
