div.campaign-image {
    height: 300px;
    background-image: url(/siteElements/channelshift/content/images/placeholders/1180x300.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    position: relative;
}

div#campaign-banner {
    height: 180px;
    position: absolute;
    left: 30px;
    top: 30px;
    width: 370px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.9;
    padding-left: 25px;
}

div#campaign-banner > h3 {
    font-weight: bold;
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 10px;
}

div#campaign-banner a {
    display: inline-block;
    color: #fff;
    background-color: #830065;
    padding: 7px;
    font-size: 19px;
}
