#cookie-bar {
    background: #111111;
    height: auto;
    line-height: 24px;
    color: #eeeeee;
    text-align: center;
    padding: 3px 0;
    margin: auto;
    width: 100%;
}
#cookie-bar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#cookie-bar.fixed.bottom {
    bottom: 0;
    top: auto;
}
#cookie-bar p {
    margin: 0;
    padding: 0px 10px 5px 10px;
    color: #ffffff;
    text-align: center;
    font-size: 14.5px;
}
#cookie-bar a {
    color: #ffffff;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    padding: 0 6px;
    margin: 10px 0px 0px 8px;
    font-size: 14.5px;
}
#cookie-bar .cb-enable {
    background: #b5bd00;
}
#cookie-bar .cb-enable:hover {
    background: #b5bd00;
    text-decoration: underline;
}
#cookie-bar .cb-disable {
    background: #d50032;
}
#cookie-bar .cb-disable:hover {
    background: #d50032;
    text-decoration: underline;
}
#cookie-bar .cb-policy {
    background: #00a9ce;
}
#cookie-bar .cb-policy:hover {
    background: #00a9ce;
    text-decoration: underline;
}
#cookie-bar .cb-close {
    background: #f1d600;
    margin-right: 3px;
    float: right;
    color: #000;
    font-weight: bold;
}
#cookie-bar .cb-close:hover {
    background: #f1d600;
    text-decoration: none;
}
#cookie-bar .cookie_close_button {
    right: 0 !important;
    width: 360px !important;
    position: absolute !important;
}
#cookie-bar .cookie_close_button li {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}
#cookie-bar .cookie_close_button li span {
    color: #000000;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    padding: 0 6px;
    margin-left: 8px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {}