/* default fonts view */

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
    font-family: 'Calibri W01 Light', Calibri, Arial;
    color: #830065;
}
div,
p,
ul,
ol,
a,
label {
    font-size: 19.2px;
}
blockquote {
    font-size: 34.12px;
}
#top-nav.navbar {
    font-size: 18px;
}
#top-nav.navbar .navbar-nav > li > a {
    font-size: 18px;
}
.right-inner-addon input {
    font-size: 1.0em;
}
.gateway-links a {
    font-size: 18px;
}

/* emergency banner */
#emergency-placeholder span {
    font-size: 24px;
}
#emergency-placeholder p {
    font-size: 20px; color:#fff;
}
find-service .field {
    font-size: 1.1em;
}
.toggle-search .mv-search {
    font-size: 1.8em;
}
.footer-bottom {
    font-size: 1.143em;
}
.footer-bottom p.footer-links {
    font-size: 19.2px;
}
#cookie-bar p {
    font-size: 14.5px;
}
#cookie-bar a {
    font-size: 14.5px;
}

/*My Area Section */
#myarea-container .panel-heading h3 {
    font-size: 18px;
}
.my-area-search-container .home-outline .home-h3 {
    font-size: 36px;
}
.my-area-search-container .home-outline span {
    font-size: 24px;
}
.my-area-search-container button {
    font-size: 25px;
}
#find-services-input {
    font-size: 24px;
}
div#myarea-container div.panel-heading h3 {
    font-size: 32px;
}
div#myarea-container h3 {
    font-size: 32px;
}
div#myarea-container h4 {
    font-size: 28px;
}
div#myarea-container h5 {
    font-size: 24px;
}
div#myarea-container h6 {
    font-size: 20px;
}

/* latest news & twitter*/
.latest-news .home-h3 {
    font-size: 36px;
}
.latest-news .home-h3 a {
    font-size: 36px;
}
.latest-news .figure-wrapper figcaption a {
    font-size: 24px;
}
.twitter .home-h3 {
    font-size: 36px;
}
#twitter-feed-last-tweet p {
    font-size: 1.3em;
    line-height:1.2em;
    color:#fff;
    margin-right:13px;
}
#twitter-feed-last-tweet p a {
    font-size: 1em;
}

/*========== Landing and Article pages =============*/

/* last modified */
#last-modified {
    font-size: 16px;
}

/* Accordion */
.header-title,
#landing-title > div > h1 {
    font-size: 2.369em;
    font-weight: bold;
    line-height: 1em;
    display:flex;
    align-items:center;
}
li.head,
li.head:hover {
    font-size: 34.12px;
}
li.head a h2 {
    font-size: 34.12px;
    font-weight: normal;
}
.accordion-togglable li a,
div#also-see-list ul a {
    line-height: 1.2em;
    font-size: 19.2px;
    font-weight: normal;
}

/* Call to Action Button */
a.call-to-action,
.btn-cta {
    font-size: 19.12px;
    font-weight: bold;
    line-height: 1.1em;
  	text-transform: capitalize;
}

div.library-container .btn-cta {
    
    padding:7px 5px 7px 5px;
    margin: 0px 3px 5px 3px;
    font-size:15px;
    width:100%;
    text-transform:none;
}

div.library-container .btn-red {
    
    padding:7px 5px 7px 5px;
    margin: 0px 3px 5px 3px;
    font-size:15px;
    width:100%;
    text-transform:none;
    border-radius:0px;
    color:#fff;
    background-color:#d50032;
    font-weight:500;
    float:right;
    line-height:1.1em;
    border:0px;
}

div.library-container .btn-red:hover {
    color: #041c2c;
    background-color: #e6e6e6;
    border-color: none;
}


div.library-container .btn-blue {
    
    padding:7px 5px 7px 5px;
    margin: 0px 3px 5px 3px;
    font-size:15px;
    width:100%;
    text-transform:none;
    border-radius:0px;
    color:#fff;
    background-color:#00a9ce;
    font-weight:500;
    float:right;
    line-height:1.1em;
    border:0px;
}

div.library-container .btn-blue:hover {
    color: #041c2c;
    background-color: #e6e6e6;
    border-color: none;
}






#crumbs ul li {
    font-size: 19.2px;
}

/* Also See section*/
.sub-header-title {
    font-size: 34.2px;
    font-weight: bold;
}

/* articles contact pages */
div#contact-details h3 {
    font-weight: bold;
    font-size: 25.59px;
}


/* ========== Browsers Greater than 1170px width */
@media (min-width: 1170px) and (max-width: 9000px) {
    /* Main Bar Headers */ 
    div#mainbar h2 {
        font-weight: bold;
        font-size: 34.12px;
    }
    div#mainbar h3 {
        font-weight: bold;
        font-size: 25.59px;
    }
    div#mainbar h4 {
        font-weight: bold;
        font-size: 19.2px;
    }
}

/* =========== Small desk top views ==============*/
@media (max-width: 992px) {
    .my-area-search-container .home-outline span {
        font-size: 19px;
    }

     #twitter-feed-last-tweet p {
        font-size: 24px;
    }
}

/* ========== Tablet type devices ==============  */
@media screen and (max-width: 768px) {
    span.mobile-view > a.menu-anchor,
    a.search-anchor > span#menu-anchor-icon,
    span#search-anchor-icon {
        font-size: 2.2em;
    }

    /* cookie*/ 
    #cookie-bar p {
        font-size: 13px;
    }
    #cookie-bar a {
        font-size: 13px;
    }

    /* my area section fonts  */  
    #find-services-input {
        font-size: 19.2px;
    }
    .my-area-search-container .home-outline span {
        font-size: 19.2px;
    }
    .my-area-search-container button {
        font-size: 19.2px;
    }
    /* top tasks fonts */
    .home-icon > h4 {
        font-size: 17px;
    }
    figcaption a {
        font-size: 19.2px;
    }

    /* latest news & twitter */
    #twitter-feed-last-tweet p,
    .latest-news .figure-wrapper figcaption a {
        font-size: 19.2px;

    }
    #twitter-feed-last-tweet p a {
        font-size: 1em;
    }
    /* landing & article page*/  
    #landing-title > div > h1 {
        font-size: 48px;
    }
    .header-title {
        font-size: 40px;
    }
    .sub-header-title {
        font-size: 28px;
    }
    li.head a h2 {
        font-size: 24px;
    }
}

/*=========== Mobile phone type devices ============ */
@media screen and (max-width: 480px) {

    /* base font styling for mobile devices */ 
    div,
    a,
    p,
    span,
    form,
    label,
    li,
    ul,
    ol,
    input,
    blockquote {
        font-size: 16px;
    }
    /* footer */
    
    .footer-bottom p.footer-links,
    .footer-bottom a {
        font-size: 16px;
    }

    /* home my area section fonts*/
    div#myarea-container div.panel-heading h3 {
        font-size: 26px;
    }
    div#myarea-container h3 {
        font-size: 26px;
    }
    div#myarea-container h4 {
        font-size: 23px;
    }
    div#myarea-container h5 {
        font-size: 21px;
    }
    div#myarea-container h6 {
        font-size: 20px;
    }
    div#myarea-container div.panel-body p,
    div#myarea-container div.panel-body p a,
    div#myarea-container div.panel-body ul li {
        font-size: 16px;
    }
    div#myarea-container div.panel-body div {
        font-size: 16px;
    }
    #find-services-input {
        font-size: 16px;
    }
    h3#mobile-more-services {
        font-size: 20px;
    }
    .my-area-search-container .home-outline span {
        font-size: 16px;
    }
    .home-icon .figure-wrapper figcaption h4 a {
        font-size: 16px;
    }
    .home-h3 {
        font-size: 20px;
    }
    .latest-news .home-h3 {
        font-size: 20px;
    }
    table.services-table-h3,
    .home-h3,
    .latest-news .home-h3,
    .latest-news .home-h3 a,
    .my-area-search-container .home-outline h3.home-h3 {
        font-size: 26px;
    }

    li.head a h2 span {
        font-size: 24px;
    }

    #crumbs ul li a,
   .accordion-togglable li a,
    div#also-see-list ul a,
    a.call-to-action,
   .btn-cta
    {
        font-size:16px;
    }

    /* table cell fonts */ 
    table.table td {
        font-size: 16px;
    }
    table.table td a {
        font-size: 15px;
    }

    /* lable fonts */
    div.form-group label {
        font-size: 16px;
    }

    /* emergency banner fonts*/
    #emergency-placeholder span {
        font-size: 16px;
    }
    #emergency-placeholder p {
        font-size: 16px;
    }

    /* Landing & article pages */
    #last-modified {
        font-size: 12px;
    }
    #landing-title > div > h1 {
        font-size: 36px;
    }
}