.sidr {
    /* Default Settings */ 
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 260px;
    overflow-x: none;
    overflow-y: auto;
    /* Theme Settings */
    
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 15px;
}
.sidr .sidr-inner {
    padding: 0 0 15px;
}
.sidr .sidr-inner > p {
    margin-left: 15px;
    margin-right: 15px;
}
.sidr.right {
    left: auto;
    right: -260px;
}
.sidr.left {
    left: -260px;
    right: auto;
}
.sidr input[type="text"],
.sidr input[type="password"],
.sidr input[type="date"],
.sidr input[type="datetime"],
.sidr input[type="email"],
.sidr input[type="number"],
.sidr input[type="search"],
.sidr select {
    width: 100%;
    font-size: 13px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(51, 51, 51, 0.6);
    display: block;
    clear: both;
}
.sidr input[type=checkbox] {
    width: auto;
    display: inline;
    clear: none;
}
.sidr input[type=button],
.sidr input[type=submit] {
    color: #f8f8f8;
    background: #333333;
}
.sidr input[type=button]:hover,
.sidr input[type=submit]:hover {
    background: rgba(51, 51, 51, 0.9);
}