/* form overrides */
.sys_cms-form-body input.sys_medium, .sys_cms-form-body select.sys_medium {
    background-color: lightgrey !important;
    min-height: 36px;
    border-radius: 32px;
    padding: 0px 15px;
    outline: none;
}

select.sys_medium {
    width: 46% !important;
}


.sys_cms-form-control ul {
    display: block;
    font-family: 'Roboto';
}

.sys_cms-form-body li input,
.sys_cms-form-body li select,
.sys_cms-form-body li textarea,
.sys_cms-form-body li label,
.sys_cms-form-body li .sys_legend,
.sys_cms-form-body li .sys_fieldlabel,
.sys_cms-form-body li .sys_fieldlabel ul {
    font-size: 18px;
}

.sys_cms-form-body li div label {
    font-size: 16px;
}

.sys_cms-form-body .sys_sectionbreak-header {
    font-size: 16px;
}

ul.sys_cms-form-validationsummary {
    display: none;
}

.sys_cms-form-body input.sys_medium,
.sys_cms-form-body select.sys_medium
.sys_cms-form-body .sys_namesubelement input {
    width: 46%;
}

.sys_cms-form-body li input {
    width: 96%;
    border-radius: 10px;
    height: 40px;
    border: solid 1px #fff;
    background-color: silver;
    font-family: 'Roboto';
    padding-left: 5px;
}

div.sys_fieldcontent textarea {
    border-radius: 10px;
    background-color: silver;
    font-family: 'Roboto';
    padding-left: 5px;
}

.sys_cms-form-body .sys_radio input {
    margin: 9px 14px 0 0;
}

.sys_cms-form-body li input:focus {
    outline: none;
}

.sys_cms-form-body .sys_sidebyside input {
    float: none;
    display: inline;
    vertical-align: unset;
}

.sys_legend--simple {
    padding-bottom: 20px;
}

.sys_cms-form-body .sys_sidebyside span label {
    margin-left: 10px;
    margin-right: 30px;
}

.sys_cms-form-body .sys_sidebyside span {
    display: inline-block;
    margin-top: 5px;
}

.sys_form-submit {
    color: #fff;
    background-color: #830065;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px 20px;
    margin-top: 20px;
    outline: none;
}
@media all and (max-width: 568px) and (min-width: 300px) {

    .sys_cms-form-body li input, 
    .sys_cms-form-body li select, 
    .sys_cms-form-body li textarea, 
    .sys_cms-form-body li label, 
    .sys_cms-form-body li .sys_legend, 
    .sys_cms-form-body li .sys_fieldlabel, 
    .sys_cms-form-body li .sys_fieldlabel ul {
        font-size: 16px !important;
    }

    .sys_cms-form-body .sys_sidebyside span label {
        margin-left: 0px;
        margin-right: 0px;
    }

    .sys_cms-form-body .sys_sidebyside span {
        width: 100% !important;
        margin-left: 0px;
        margin-right: 0px;
    }

    .sys_cms-form-body input.sys_medium,
    .sys_cms-form-body select.sys_medium {
        width: 100% !important;
        min-height:28px;
    }

    .sys_form-submit {
        float:right;
        min-width:120px;
        font-size:16px !important;

    }

}
