
#crumbs {
    padding-top: 15px !important;
}

.bold { font-weight:bold;}

h1 {
    margin-top:0px !important;
}

h2 {
    margin-top:0px !important;
}

.bottom-spacer {
    padding-bottom:30px !important;
}

div.features-item img.img-responsive{
    max-height:270px !important;
    max-width:572px;
    float:right;
    width:100%;
    position:relative;
    top:-41px;
}

a.cta-link-button {
    cursor:pointer;
    display: block;
    border: solid 0px #830065;
    max-width: 160px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    margin:auto;
    font-size: 24.12px !important;
    font-weight: 700;
    text-transform: capitalize;
    background-color:#B3bd00;
    color:#041c2c;
    height:45px;
}

a.cta-link-button:hover {
    font-weight:bold;
    text-decoration:none;
    color: #041c2c;
    background-color: #e6e6e6;
    border-color: #adadad;
}


div.centered-text {
     position: absolute;
     top: 15%;
     left: 47%;
     transform: translate(-50%, -50%);
     color:#fff;
     /*background: rgba(0, 0, 0, 0.5); */
     padding:0px 20px;
     width:100%;
}
 div.centered-text > h1 {

     color:#fff;
     font-size:65px;
     text-align:center;
     margin:auto;
}

div#blackpool-central ul {
    list-style: none !important;
}

div#blackpool-central li::before {
    content: "•"; color: #830065;
    display: inline-block; width: 1em;
    margin-left: -1em;
}



@media screen and (max-width: 768px) {

    h2 {
    margin-top:30px !important;
    }   

    div.features-item img.img-responsive {
        float: none;
        text-align: center;
        margin: auto;
        position:relative;
        top:0px;
    }

    
    div.centered-text {
        left:50%;
        padding:0px 10px;
 
    }
}

@media screen and (max-width: 640px) {

     div.centered-text {
        width:100%;
    }


    div.centered-text > h1 {
       
    }
    .tbl-responsive tbody td {
      text-align:left !important;
    }
}


@media screen and (max-width: 480px) {

     div.centered-text {
        width:100%;
    }

    div.centered-text > h1 {
       font-size:50px;
    }

    div.centered-text > h1 > span {
        font-size:50px !important;
    }
   
}



