/* 
    brand colors
    purple: #830065;  
    blue: #00add0;
    geen: #B3bd00;
    dark blue (text) : #041c2c;     
*/


#mainbar a:hover {
    text-decoration:none;
}

#mainbar a {
    text-decoration:underline;
}

#mainbar a:not([href]) {
    text-decoration:none;
    font-size:inherit;
}

#mainbar a:not([href]):hover {
   text-decoration:none;
   font-size:inherit;
}

.bottom-spacer {
    width: 100%;
    padding-bottom: 20px;
}

#landing-title {
    padding-bottom: 16px;
}
#last-modified {
    color: silver;
    position: relative;
}
#pdf-print-links {
    position: relative;
    border: solid 0px red;
    height: 25px;
}
.header-title,
#landing-title > div > h1 {
    color: #830065;
    margin: 0px;
}
li.head {
    list-style-type: none;
    width: 100%;
    background-color: #e3e4e6;
    border-bottom: solid 1px #fff;
}
li.head:hover {
    list-style-type: none;
    width: 100%;
    background-color: #fff;
    border: solid 0px #000;
}
li.head a {
    text-decoration: none;
    display: block;
}
li.head a h2 {
    margin: 20px 0px 20px 0px;
    padding-left: 16px;  
}
li.head a h2 i {
    float: right;
    background-color: #b3bd00;
    width: 45px;
    height: 45px;
    margin-right: 30px;
}
li.head h2 span.pull-left {
  width:85%;
}
li.head a h2 i.icon-arrow-up {
    background: url("/SiteElements/ChannelShift/content/images/landing-pages/arrowup.svg");
    background-repeat: no-repeat;
    background-color: #b3bd00;
    background-position: 5px 13px;
    background-size: 35px 20px;
    height: 45px;
    position: relative;
    top: 0px;
    left: 0px;
}
li.head a h2 i.icon-arrow-down {
    background: url("/SiteElements/ChannelShift/content/images/landing-pages/arrowdown.svg");
    background-repeat: no-repeat;
    background-color: #b3bd00;
    background-position: 5px 13px;
    background-size: 35px 20px;
    height: 45px;
    position: relative;
    top: 0px;
    left: 0px;
}
li.head a {
    color: #830065;
}
li.head a {
    outline: none !important;
}
#accordion-ul {
    padding: 0px;
}
#accordion-ul li {
    position: relative;
    overflow: hidden;
}
#accordion-ul li a {
    cursor:pointer;
}
.accordion-togglable {
    display: none;
    margin-bottom: 10px;
}
.accordion-togglable ul {
    padding-left: 25px;
}
.accordion-togglable ul li {
    line-height: 0.9em;
    list-style: none;
    list-style-position: outside;
    background: transparent url('/SiteElements/ChannelShift/content/images/landing-pages/bullet.svg') no-repeat 0px 0.4em;
    padding: 0px 0px 10px 20px;
}
.accordion-togglable li a,
div#also-see-list ul a {
    color: #000;
    text-decoration: underline;
    position: relative;
    left: 0px;
    top: 0px;
    padding: 0px;
}
.accordion-togglable li a:hover,
div#also-see-list ul a:hover {
    color: #830065;
}

i.icon-residents {
    background: url("/SiteElements/ChannelShift/content/images/landing-pages/residents.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 0px -20px;
    background-size: 170px 170px;
    height: 170px;
    width: 170px;
    position: relative;
    top: 0px;
    left: 0px;
    display: block
}

/* printer and pdf links */

ul#print-links-ul {
    height: 25px;
    margin-bottom: 0px;
}
ul#print-links-ul li {
    width: 30px;
    height: 30px;
    list-style-type: none;
    display: inline;
}
ul#print-links-ul li {
    margin-right: 0px;
}
a.icon-pdf {
    background: url("/SiteElements/ChannelShift/content/images/landing-pages/pdf-icon.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 0px 0px;
    background-size: 20px 20px;
    height: 25px;
    width: 30px;
    position: relative;
    top: -20px;
    left: 0px;
    display: inline-block;
    outline: none !important;
    font-size: 0px;
}
a.icon-printer {
    background: url("/SiteElements/ChannelShift/content/images/landing-pages/printer-icon.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 0px 0px;
    background-size: 20px 20px;
    height: 25px;
    width: 30px;
    position: relative;
    top: -20px;
    left: 0px;
    display: inline-block;
    outline: none !important;
    font-size: 0px;
}
a.icon-pdf,
a.icon-printer {
    text-decoration: none;
}
p.call-to-action {
    width: 100%;
    border: solid 0px red;
    margin: auto;
    text-align: left;
}
a.call-to-action {
    display: inline-block;
    padding: 9px 12px;
 
}
a.call-to-action,
.btn-cta {
    background-color: #B3bd00;
    border-color: transparent;
    color: #041c2c;
    width: initial;
    white-space: normal;
    text-transform: uppercase;
    border-radius: 0px;
    border: 0px solid red;
    margin:1em 0em 1em 0em;
    padding: 9px 12px;
}
a.call-to-action:hover,
.btn-cta:hover {
    color: #041c2c;
    background-color: #e6e6e6;
    border-color: #adadad;
}
/* bread Crumbs */

#crumbs {
    float: left;
}
#crumbs ul {
    list-style: none;
    margin-top: -7px;
    padding: 0px;
}
#crumbs ul li {
    display: inline;
    font-size: 19.2px;
    margin-right: 5px;
    line-height:1em;
}
#crumbs ul li a {
    color: #041c2c;
}
#crumbs ul li.last {
    font-weight: bold;
}
/* also see section*/

.sub-header-title {
    font-size: 34.2px;
    font-weight: bold;
    color: #830065;
}
#also-see-list ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#also-see-list ul li {
    padding: 0px 0px 10px 0px;
}
div#mainbar > h2 {
    
}
div#sidebar h2 {
    
}
/* base blocks to be plced in base-master  */

@media (min-width: 1170px) and (max-width: 9000px) {
    div#landing {
        width: 1170px;
    }
    div#topbar {
        max-width: 1170px;
        min-height:170px;
        width: 1170px;
        display: inline-block;
        float: left;
        border-bottom: dotted 1px #000;
        margin: 30px 0px 0px 0px;
    }
    div#sidebar {
       border: solid 0px red;
       width: 170px;
       margin: 30px 30px 0px 0px;
       min-height: 60px;
       display: inline-block;
   }
   div#mainbar {
      border: solid 0px blue;
      max-width: 970px;
      width: 970px;
      margin: 30px 0px 20px 0px;
      display:inline-block;
  }
    .header-title,
    #landing-title > div > h1 {
        height: 100px;
    }

    .grid-block,
    grid-block-last {
        width: 170px;
        border: solid 0px red;
        height: 100%;
        display: inline;
        float: left;
        margin-right: 30px;
    }
    .grid-block-last {
        margin-right: 0px;
    }
    .grid-block-5 {
        width: 970px;
        float: left;
        display: inline;
    }
    .grid-block-default-height {
        height: 170px;
    }
}

@media (min-width: 170px) and (max-width: 1169px) {
   
    div#topbar {
        display: inline-block;
        float: left;
        border-bottom: dashed 1px #000;
        margin: 30px 0px 0px 0px;
        width: 100%;
    }
     div#sidebar.col-md-pull-10 { 
        right:0%;
    }

    div#mainbar.col-md-10, div#sidebar.col-md-2 {
        display: inline-block;
        float: left;
        width: 100%;
        margin: 30px 0 0;
    }

    div#mainbar.col-md-push-2  { 
        left:0%;
        width:100%;
    }
  
    li.head h2 span.pull-left {
		width:78%;
        display: block;
    }
    #icon-landing-page-image-container,
    #sidebar {
        display: none;
    }
   
    a.call-to-action,
    .btn-cta {
        margin-left: 15px;
        margin-right: 15px;
    }
    i.icon-pdf,
    i.icon-printer {
        top: 0px;
    }
}

@media screen and (max-width: 768px) {
    #landing-title > div > h1 {
        position: relative;
        top: 0px;
    }
    div#topbar {
        margin-top: 10px;
    }
    #crumbs {
        height: auto;
        min-height: 20px;
    }
    #landing-title {
        height: 100%;
    }
    .header-title {} .sub-header-title {} li.head a h2 {
        margin: 0px;
        padding: 10px 0px 10px 5px;
        height: 100%;
    }
    #accordion-ul .head h2 span.pull-right {
        position: relative;
        left: 25px;
    }
    li.head a h2 i.icon-arrow-down,
    li.head a h2 i.icon-arrow-up {
        background-size: 21px 21px;
        background-position: 7px 7px;
        height: 31px;
        width: 35px;
    }
    .accordion-togglable ul li {
        background-position: 0px 9px;
    }
}

@media screen and (max-width: 480px) {
    
    h1,h2, h3,h4 h5 { margin:0px;}

    div#mainbar.col-md-10 {
        margin: 20px 0px 0px 0px;
    }
    div#last-modified-container {
        width: 195px;
        float: left;
    }
    div#printer-icons-container {
        width: 110px;
        min-width: 110px;
        float: right;
    }
    #last-modified {
        position: relative;
        top: 5px;
    }
    #landing-title > div > h1 {
        position: relative;
        top: 0px;
    }
     .accordion-togglable ul li {
        background-position: 0px 7px;
    }
}