/* 
    brand colors
    purple: #830065;  
    blue: #00add0;
    geen: #B3bd00;
    dark blue (text) : #041c2c;     
*/



@media (min-width: 1170px) and (max-width: 9000px) {

   
  
}

@media (min-width: 170px) and (max-width: 1169px) {
 
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 480px) {
    
 
}
