.sys_cms-form-body textarea.sys_small,
.sys_cms-form-body textarea.sys_medium,
.sys_cms-form-body textarea.sys_large {
    width: 100% !important;
}

.sys_cms-form-body li .sys_legend {
    border-bottom: 0px solid red;
}

.sys_cms-form-body .sys_lastnamesubelement {
    width: 50%;
    margin-right: 0 !important;
}

.sys_cms-form-body input.sys_large,
.sys_cms-form-body select.sys_large {
    width: 100%;
}

div.sys_cms-form-control,
fieldset.sys_fieldset--simple {
    display: block;
    padding-bottom: 0px;
    position: relative;
    color: #041C2C !important;
}

.sys_cms-form-body .sys_cms-form-item {
    margin: 0 0 5px 0;
    padding: 6px 0 7px 0px;
    position: relative;
    background: none;
    background-image: none;
    color: #041C2C !important;
    font-size: small;
    width: 100%;
}

li.sys_cms-form-item {
    width: 100%;
    display: inline-block;
    min-height: 100px;
    max-height: none !important;
}

    .sys_cms-form-control ul li::before,
    li.sys_cms-form-item:before {
        content: "" !important;
    }

.sys_cms-form-body li input,
.sys_cms-form-body li select,
.sys_cms-form-body li textarea,
.sys_cms-form-body li label,
.sys_cms-form-body li .sys_legend,
.sys_cms-form-body li .sys_fieldlabel,
.sys_cms-form-body li .sys_fieldlabel ul {
    font-size: 22px;
    color: #041C2C !important;
    font-family: Calibri !important;
}

sys_cms-form-body .sys_fieldcontent {
    margin-top: 25px;
}

.sys_cms-form-body li div label {
    font-size: 16px;
    color: #041C2C;
    font-family: Calibri;
    line-height:1.0em;
    max-height:30px;
}

.sys_cms-form-body .sys_checkbox label, .sys_cms-form-body .sys_radio label {
    line-height: 1.0em;
    padding: 0.2em 0;
    display: inline-block;
    position:relative;
    top:-25px;
}

.sys_cms-form-body .sys_sectionbreak-header {
    font-size: 16px;
}

ul.sys_cms-form-validationsummary {
    display: none;
}

.sys_cms-form-body input.sys_medium,
.sys_cms-form-body select.sys_medium
.sys_cms-form-body .sys_namesubelement input {
    width: 46%;
}

.sys_cms-form-body li:first-child input {
    width: 100%;
    border-radius: 23px;
    height: 30px;
    border: solid 1px #F1C18D;
    background-color: #F1C18D;
    font-family: 'Calibri';
    padding-left: 5px;
    padding-right: 0px;
}

.sys_cms-form-body li input {
    width: 96%;
    border-radius: 23px;
    height: 46px;
    border: solid 1px #F1C18D;
    background-color: #fff;
    font-family: 'Calibri';
    padding-left: 5px;
}

div.sys_fieldcontent textarea {
    border-radius: 23px;
    background-color: #fff;
    border: solid 0px #F1C18D;
    font-family: 'Calibri';
    padding-left: 5px;
}

.sys_cms-form-body .sys_radio input {
    margin: 9px 14px 0 0;
}

.sys_cms-form-body li input:focus {
    outline: none;
}

.sys_cms-form-body .sys_sidebyside input {
    float: none;
    display: inline;
    vertical-align: unset;
}

.sys_legend--simple {
    padding-bottom: 20px;
}

.sys_cms-form-body .sys_sidebyside span label {
    margin-left: 0px;
    margin-right: 30px;
    position: relative;
    top: 2px;
}

.sys_cms-form-body .sys_sidebyside span {
    display: inline-block;
    margin-top: 5px;
}


.sys_cms-form-body fieldset span.sys_boxclearer {
}


    .sys_cms-form-body fieldset span.sys_boxclearer input[type=checkbox] {
        background-color: red;
        height:30px;
    }

/* checkbox configuration*/
/* The container */
.checkbox-container span {
    display: block !important;
    position: relative;
    padding-left: 35px;
    padding-right: 0px !important;
    margin-bottom: 12px !important;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .checkbox-container span label {
        padding-left: 10px !important;
    }
    /* Hide the browser's default checkbox */
    .checkbox-container span input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 36px !important;
        width: 31px !important;
        left: -5px;
        z-index: 999;
        top: -6px;
    }

/* Create a custom checkbox with orange border */
.checkmark {
    position: absolute !important;
    top: 2px;
    left: 0;
    height: 25px !important;
    width: 25px !important;
    border: solid 3px #ED8B23;
    padding-left: 25px !important;
}

/* On mouse-over, add a grey background color */
.checkbox-container span:hover > input ~ .checkmark {
    background-color: #808080;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container span > input:checked ~ .checkmark {
    background-color: #72ACFF;
    border: none;
    width: 31px !important;
    height: 25px !important;
    left: 1px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container span > input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container span > .checkmark:after {
    left: 14px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

<!-- styling for a dropdown select list -->
<style type="text/css" >
div.sys_fieldcontent {
    position: relative;
    font-family: Arial;
}

div.sys_fieldcontent select {
    display: block; /*hide original SELECT element:*/
}

.select-selected {
    background-color: #F1C18D;
}

    /*style the arrow inside the select element:*/
    .select-selected:after {
        position: relative;
        content: "";
        top: 14px;
        right: -210px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #041C2C transparent transparent transparent;
    }

    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #041C2C transparent;
        top: -8px;
    }

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
    color: #041C2C;
    padding: 13px 30px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    max-width: 360px;
    border-radius: 23px;
    font-size: 16px;
    font-family: Calibri;
}

/*style items (options):*/
.select-items {
    position: relative;
    max-width: 334px;
    background-color: #F1C18D;
    top: -4px;
    left: 11px;
    right: 0;
    z-index: 99;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
}

    .select-items div:not(:last-child) {
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
    }

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.select-items div:not(:last-child):hover {
    border-radius: unset;
}

.no-radius {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}

/* submit button*/
.sys_form-submit {
    color: #041C2C;
    background-color: #ED8B23;
    font-size: 18px;
    width: 160px;
    height: 40px;
    font-weight: bold;
    padding: 10px;
    padding-left: 0px;
    border-radius: 23px 23px;
    margin-top: 14px;
    outline: none;
    position: relative;
    left: -10px;
    border: none;
    transition-duration: 0.4s;
}

    .sys_form-submit:hover {
        color: #ED8B23;
        background-color: #041C2C;
        text-decoration: none;
    }



@media all and (max-width: 420px) and (min-width: 300px) {

    .sys_cms-form-body .sys_fieldcontent {
        float: left;
        width: 100% !important;
    }

    .sys_cms-form-body input.sys_medium,
    .sys_cms-form-body select.sys_medium
    .sys_cms-form-body .sys_namesubelement input {
        width: 100%;
    }

    .sys_cms-form-body .sys_namesubelement {
        width: 100%;
    }

    .sys_cms-form-body .sys_lastnamesubelement {
        width: 100%;
    }

    .sys_cms-form-body li:first-child input {
        width: 100% !important;
    }

    .select-selected:after {
        right: -171px;
    }

    .sys_cms-form-body .sys_address label {
        min-height: 30px;
        display: inline;
    }


    .sys_cms-form-body input.sys_small {
        width: 30%;
        margin-left: 0px;
        padding-left: 15px;
    }

    .sys_cms-form-body input.sys_large, .sys_cms-form-body select.sys_large {
        width: 100% !important;
    }

    .sys_cms-form-body input.sys_medium, .sys_cms-form-body select.sys_medium {
        width: 100% !important;
    }

    div.sys_fieldcontent > div:last-child input[type=text]:last-child {
        width: 20%;
    }
}
