 #crumbs { 
        float:left;
        margin-top:30px;
        margin-bottom:15px;
    }

    #crumbs ul {
        list-style:none;
        margin-top: 0px;
        padding:0px;
    }

    #crumbs ul li {
        display:inline;
        margin-right:5px;
        line-height: 1.0em;
    }

    #crumbs ul li a {
         font-size:16px;
         font-weight:bold;
         color:#830065;
         text-decoration:none;
   }

    #crumbs ul li a:hover {
        text-decoration:underline;
    }


   h1.header-one-title { margin-bottom:25px;}


    div.text-gallery p {
        margin-bottom: 20px;
    }
   /* gallery*/

   div.gallery-container, div.blog-container {

       min-height:400px;
       padding:0px;
       background-color:#eaecee;
       margin-bottom:10px;
       margin-right:30px;
       float:left;
   }

   div.blog-container {

       height:500px;
   }

   div.text-gallery {
       padding:10px;
       margin:10px;
       background-color:#eaecee;
       height:170px;
   }

   div.text-gallery > h3 {
       margin-bottom:30px;
       margin-top: 5px;
   }

   .img-responsive {
    display: block;
    max-width: 100%;
    text-align:center;
    margin:auto;
}


 div.gallery-blog  .col-xs-12 {
    width: 100%;
    max-width: 370px;
}


@media (min-width: 768px) {


    div.gallery-blog .col-sm-6 {
        width: 50%;
        max-width: 370px;
    }
}


@media (max-width: 480px) {

    div.gallery-container, div.blog-container 
    {

    margin-right:0px;

   }
 
}




