.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  color: #000;
  box-shadow: 0 0 5px 5px #FFFAFA inset;
}
.sidr .sidr-inner {
  padding: 0 0 15px;
}
.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px;
}
.sidr.right {
  left: auto;
  right: -260px;
  top:30px;
}
.sidr.left {
  left: -260px;
  right: auto;
}


.sidr .sidr-inner > li {
    list-style-type:none;
    padding-bottom:25px;
    margin-left:15px;

}

.sidr .sidr-inner > li > a { 
    font-weight:bold;
    font-size:18px;
    color:#000;

}